body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --hero-title-color:#FFFFFF;
  --title-text-color: #212121;
  --text-main-color: #757575;
  --accent-color: #2196F3;
  --primary-section-bgc: #E5E5E5;
  --secondary-section-bgc:#F5F4FA;
  --footer-bgc: #2F303A;
  --footer-info-color: rgba(255, 255, 255, 0.6);
}
